.sector {
    width: 120px;
    height: 120px;
}

.inactive-sector {
    border: 1px black dashed;
}

.active-sector {
    border: 1px cyan dashed
}

.active-sector:hover {
    border: 1px solid white;
}
