@import "tailwindcss";

a {
  @apply underline text-blue-600 text-blue-800 text-purple-600;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: flex;
  --s: 260px;
  /* size  */
  --m: 4px;
  /* space */
  --r: calc(var(--s) + 4*var(--m) - 2px);

  /* Generate different sets of box-shadow values for stars of varying sizes */
  /* Small stars */
    --shadows-small: multiple-box-shadow(700); 
  /* Medium stars */
    --shadows-medium: multiple-box-shadow(200); 
  /*  Big stars */
    --shadows-big: multiple-box-shadow(100); 
}

.rhombox {
  font-size: 0;
  /*disable white space between inline block element */
}

.rhombox>div {
  width: var(--s);
  margin: var(--m);
  height: var(--s);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  margin-bottom: calc(var(--m) - var(--s)*0.5);
}

.rhombox::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 140%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--r) - 3px),
      #000 0 var(--r));
}

